.menu
  &__tabs
    flex-grow:         1
    display:           flex
    margin-left:       -1rem
    &__tab
      display:       block
      padding:       1.5rem 3rem
      box-sizing:    border-box
      height:        6rem
      color:         rgba(255,255,255,.3)//#C5CAE9
      font-size:     2rem
      &--active
        color:         white
        padding-top:   1.5rem
        border-bottom: 2px solid red

  &__user
    &__popover
      padding-top:     2rem
      margin-top:      -2rem
    &__header
      display:         flex
      justify-content: space-between
      align-items:     center
      padding-left:    2rem
      cursor:          pointer
    &__info
      margin-top:      1.5rem
      border-top:      1px solid lightgray
      font-size:       13px
      padding:         2rem
      box-sizing:      border-box
      dl
        margin:        0
      dt
        width:         14rem
        float:         left
      dd
        display:       block
        width:         32rem
        margin-left:   14rem
    &__controls
      padding:         1rem
      border-top:      1px solid lightgray
      text-align:      right
